.overall
{
    display:flex;
    height:99%;
    border-left:10px solid purple;
    border-top:3px solid purple;
    border-bottom:3px solid purple;  
}
.formsection
{
   flex:0.6;
   height:75%;
}
.formsection1
{
   height:75%;
   margin-top:110px;
   flex:0.6;
   padding-right:5px;
   position:relative;
   animation-name:ex2;
   animation-duration: 2s;
}

.description
{
   flex:0.8;
   background-color:purple;
   padding:0px 30px;
   color:white;
}
.description h1
{
  font-size:100px;
  color:black;
  border-bottom:4px solid white;
  text-align:center;
  position:relative;
  animation-name:ex3;
  animation-duration: 2s;
}
.description h3
{
   font-family:monospace; 
   color:black;
   font-size:28px; 
   position:relative;
   animation-name:ex1;
   animation-duration: 1s;

}
.description p
{
   font-family:verdana;
   font-size:15px;
   animation-name:ex4;
   animation-duration: 4s;
}
form
{
    font-family:verdana;
    padding-top:40px;
    padding-left:60px;
    font-size:16px;
  
}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"]
{ 
    border:2px solid purple;
    border-radius: 15px;
    padding: 25px 50px;
    text-align:left;
    font-size:10px;
    font-family:verdana;
    background-color:white;
}
input[type="submit"]
{ 
    border:2px solid purple;
    border-radius: 15px;
    padding: 25px 50px;
    text-align:left;
    font-size:16px;
    font-family:verdana;
    color:white;
    background-color:purple;
}
select
{
    border:2px solid purple;
    border-radius:15px;
    padding: 10px 10px;
    font-size:10px;
    font-family:verdana;
}
.label
{
    position:relative;
    animation-name:ex2;
    animation-duration: 2s;
}
p
{
    font-size:10px;
    padding-bottom:20px;
}
h2
{
     position:relative;
     animation-name:ex1;
     animation-duration: 1s;
} 
@keyframes ex1
{
      0%   {left:35px;}
      100% {left:0px;}
} 
@keyframes ex2
{
    0% {top: 20px; opacity:0.0;}
    100% {top: 0px; opacity: 1.0;}
}
@keyframes ex3
{
    0% {bottom: 30px; opacity:0.0;}
    100% {bottom: 0px; opacity: 1.0;}
}
@keyframes ex4
{
    0% {opacity:0.0;}
    100% {opacity:1.0;}
}